{% extends "adm/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "adm/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}
 <div class="breadcrumbs">
    <div class="breadcrumbs">
    <a href="{% url 'home-view' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'venue-list' %}">{% trans 'Venues' %}</a>
    &rsaquo; {% trans 'Delete' %}
    </div>
{% endblock %}


{% block content %}

{% if venue %}
<h1>Delete Scheduled Venue</h1>

<p>Are you sure you want to delete the scheduled venue  {{ venue }} ? All of the following related items will be deleted:
</p>

<form action="{{ action }}" method="POST">
  {% csrf_token %}

  <input type="submit" value="Yes, delete." />
  <a href="{% url 'venue-list' %}">No, cancel.</a>
</form>
{% endif %}


{% endblock %}
